<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- The Dark Sky API key, override it with your secret key -->
    <add key="SecretKey" value="4718aa6e407634fe0a8ebf40058aa075" />

    <!-- The excluded parameters for the API call -->
    <add key="ExcludedParams" value="minutely,hourly,alerts,flags"/>
    
    <!-- The base api URL-->
    <add key="BaseAddress" value="https://api.darksky.net/forecast/"/>
  </appSettings>
</configuration>