<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    
    <!-- API SETTINGS -->
    
    <!-- The Dark Sky API key, override it with your secret key -->
    <add key="SecretKey" value="4718aa6e407634fe0a8ebf40058aa075" />

    <!-- The excluded parameters for the API call -->
    <add key="ExcludedParams" value="minutely,hourly,alerts,flags"/>
    
    <!-- The base api URL-->
    <add key="BaseAddress" value="https://api.darksky.net/forecast/"/>
    
    
    
    <!-- CITY COORDINATES -->
    
    <!-- Budapest Coordinates -->
    <add key="Budapest" value="47.4979,19.0402"/>

    <!-- Luxembourg Coordinates -->
    <add key="Luxembourg" value="49.8153,6.1296"/>

    <!-- Debrecen Coordinates -->
    <add key="Debrecen" value="47.5316,21.6273"/>

    <!-- Pecs Coordinates -->
    <add key="Pecs" value="46.0727,18.2323"/>

    <!-- Wienna Coordinates -->
    <add key="Wienna" value="48.2082,16.3738"/>

    <!-- Prague Coordinates -->
    <add key="Prague" value="50.0755,14.4378"/>

    <!-- München Coordinates -->
    <add key="München" value="48.1351,11.5820"/>

    <!-- Amsterdam Coordinates -->
    <add key="Amsterdam" value="52.3680,4.9036"/>
    
  </appSettings>
</configuration>