################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoclerSky/.vs/DoclerSky/v16
/DoclerSky/DoclerSky/bin/Debug
/DoclerSky/DoclerSky/obj/Debug
